body, #preview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sync {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    background-color: transparent;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: 16px;
    border-bottom: 1px solid #ccc;
    width: 100%;
    max-width: 800px;
}

.selection-preview-container {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    width: 100%;
    align-items: center;
    padding: 16px;
    border: 1px solid #ccc;
    margin: 16px 0;
    border-radius: 5px;
    gap: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.selection-preview-content {
    font-style: italic;
    word-wrap: break-word;
    font-family: monospace;
    font-size: 16px;
}

.selection-preview-delete {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
    background-color: #db2a2a;
}
